<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <section class="colored">
    <div class="middle">
      <h1>We are Nascent</h1>
      <p>Technology for your Ideas</p>
      <p>New York / Vilnius</p>      
    </div>
    <div class="next-section">
      <a href="#">What we do</a>
      <div></div>
    </div>
  </section>
  <section>
    <div class="we-do">
      <h2>What we do</h2>
      <p>- Modernizing businesses</p>
      <p>- Crafting unique and intuitive experiences</p>
      <p>- Bringing ideas to life</p>
    </div>
    <div class="next-section-right">
      <a href="#">Building blocks</a>
      <div></div>
    </div>
  </section>
  <section class="colored">
    <h4>Building blocks</h4>
    <a href="#">Locations</a>
  </section>
  <section>
    <h4>Locations</h4>
    <div>
      <div>
        <h4>New York</h4>
        <p>32 W 38TH Street, 2nd FL</p>
        <p>NEW YORK</p>
        <p> NY 10018</p>
        <p>USA</p>
      </div>
      <div>
        <h4>Vilnius</h4>
        <p>Sauletekio 15 - 608</p>
        <p>Vilnius</p>
        <p>10224</p>
        <p>Lithuania</p>
      </div>
    </div>
  </section>
</body>
</html>